/* Text styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(219, 251, 255);
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

/* style table */
#employee {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#employee td,
#employee th {
  border: 1px solid gray;
  padding: 8px;
  text-align: center;
}
#employee tr:nth-child(even) {
  background-color: #f2f2f2;
}
#employee tr:hover {
  background-color: #ddd;
  text-align: c;
}
#employee th {
  padding: 12px;
  background-color: rgb(16, 189, 16);
  color: white;
  text-align: center;
}

/* grid layout */
.container {
  display: grid;
  height: 200px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.red {
  background-color: red;
  border-radius: 8px;
}
.blue {
  background-color: blue;
  border-radius: 8px;
}
.yellow {
  background-color: yellow;
  border-radius: 8px;
}

/* flex box */
.flex-box {
  border: 2px solid purple;
  display: flex;
  justify-content: space-around;
  flex: 1fr 2fr 3fr;
}
.box1 {
  background-color: red;
  padding: 30px;
}
.box2 {
  background-color: blue;
  padding: 30px;
}
.box3 {
  background-color: yellow;
  padding: 30px;
}
