/* Root style for the application */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  /* color variable */
  --primary-color: #1550fa;
  --dark-gray-color: #4a5567;
  --light-gray-color: #f7f9fc;
  --white-color: #ffffff;
  --text-color: #0a2540;

  /* typography */
  --heading-one: 52px;
  --heading-two: 36px;
  --paragraph: 16px;

  /* spacing */
  --line-height: 1.6;
  --letter-spacing: 1.6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--paragraph);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--light-gray-color);
}
