/* Design home page */

/* Container for search and add task */
.search-add-task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem; /* Adjust padding as needed */
}

/* Search input */
#search {
  width: 40em; /* Adjust width as needed */
  padding: 1rem;
  background-color: white;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 4px;
}

.new-task {
  background: var(
    --primary-color
  ); /* Assuming --primary-color is defined elsewhere */
  border: none;
  outline: none;
  color: var(--white-color); /* Assuming --white-color is defined elsewhere */
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Heading */
h2 {
  padding: 1rem 6rem; /* Adjust padding as needed */
  font-weight: 500;
}

/* Horizontal rule */
.hr {
  width: 90%;
  height: 2px;
  background-color: var(
    --primary-color
  ); /* Assuming --primary-color is defined elsewhere */
  border: none;
  border-radius: 10px;
  margin: 0 auto; /* Center the horizontal rule */
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem;
}

.todo-container {
  flex: 1;
  background-color: var(--gray-color);
  padding: 2rem;
  height: 70vh;
  border-radius: 16px;
  margin: 2rem 0;
}
.in-progress-container {
  flex: 1;
  background-color: var(--gray-color);
  padding: 2rem;
  height: 70vh;
  border-radius: 16px;
  margin: 2rem 1rem;
}
.completed-container {
  flex: 1;
  background-color: var(--gray-color);
  padding: 2rem;
  height: 70vh;
  border-radius: 16px;
  margin: 2rem 0;
}
h3 {
  font-weight: normal;
}
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid var(--gray-color);
  border-radius: 12px;
  padding: 2rem;
  margin-top: 2rem;
}
.card > h3 {
  font-size: 1.2rem;
}
.card > .description {
  font-size: 1rem;
}
.card > .status {
  font-size: 0.8rem;
}
.card > hr {
  width: 100%;
  margin-bottom: 1rem;
}
