[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
pytest = "*"
black = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
