.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.2rem 4rem;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  .search-container {
    width: 20%;
  }

  .navbar-items {
    display: flex;
    align-items: center;

    .navbar-item {
      margin: 0 1rem; // Added margin on both sides
    }
  }

  .user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .user_picture {
      width: 42px;
      height: 42px;
      margin-right: 1rem;
    }
  }
}
