// style button
@import "../../../styles/colors";
@import "../../../styles/mixin";

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1.4px solid $GRAY_COLOR;
  padding: 1rem;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  font-weight: 400;
  letter-spacing: 1px;
  @include box-shadow;
}

.icon {
  margin-right: 8px; /* Adjust this value as needed */
}

.primary {
  background-color: $PRIMARY_COLOR;
  color: $WHITE_COLOR;
  &:hover {
    background-color: $WHITE_COLOR;
    color: $BLACK_COLOR;
  }
}
.secondary {
  background-color: $WHITE_COLOR;
}
