// Global style
@import "typography";
@import "colors";
body {
  font-family: $BASE_FONT_FAMILY;
  font-size: $BASE_FONT_SIZE;
  color: $TEXT_COLOR;
  line-height: $BASE_LINE_HEIGHT;
  letter-spacing: 1.2px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}
input {
  font-family: $BASE_FONT_FAMILY;
}
