@import "../../../styles/colors";
@import "../../../styles/mixin";
.input {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: $GRAY_COLOR;
  border-radius: 6px;
  &:focus {
    outline: none;
    border: 1px solid $PRIMARY_COLOR;
  }
}
