// Importing necessary styles
@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/typography";

// Landing page styles
.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: $BACKGROUND_COLOR;
  margin: 3rem;
  border-radius: 1rem;

  .text-container {
    flex: 1;
    padding: 4rem;

    .heading {
      font-size: $BASE_FONT_SIZE * 2.4;
      margin-bottom: 2rem;
      span {
        color: $PRIMARY_COLOR;
      }
    }

    .sub-heading {
      margin-bottom: 2rem;
      width: 90%;
    }

    .buttons {
      width: 200px;
    }
  }

  .banner-container {
    padding: 4rem;
    flex: 1;

    .banner {
      width: 100%;
      height: 100vh;
    }
  }
}
