/* Style Landing Page */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.text-container {
  padding: 2rem;
}

.heading {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.logo {
  width: 4rem;
  height: 4rem;
}

.subHeading {
  font-size: var(--heading-one);
}

.banner-container {
  padding: 2rem;
}

.banner {
  width: 100%;
  height: 100%;
}
.button-container {
  display: flex;
  margin-top: 1rem;
}
.button-container:first-child {
  margin-right: 1rem;
}
