// style home page
@import "../../styles/colors";
.navbar {
  display: flex;
  background-color: $PRIMARY_COLOR;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: $WHITE_COLOR;
  top: 0;
  width: 100%;
  .navlink-container {
    .brand-link {
      & h2 {
        font-size: 1.2rem;
        font-weight: normal;
      }
      & .logo {
        width: 42px;
      }
    }
  }
  .menu-container {
    .logout {
      cursor: pointer;
    }
  }
}
