// Import required styles
@import "../../styles/colors";
@import "../../styles/mixins";

// Style signup container
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  // Style signup form container
  .signup-form-container {
    @include box-shadow;
    padding: 2rem 6rem;
    border-radius: 4px;

    // Add equal spacing between elements
    > * {
      margin-bottom: 1.4rem;
    }

    // Style input fields
    input {
      width: 400px;
    }

    // Style heading
    span {
      color: $PRIMARY_COLOR;
    }
    .button-container {
      > * {
        margin-bottom: 1.4rem;
      }
    }
  }
}
